<%
const works = [
    {
      ttl: '美容サプリ案件',
      txt: 'サプリを購入し、商品のレビューをしてもらうお仕事です。',
      img: '../images/about-work/work-img-4.png.webp',
      pc_width: '368',
      pc_height: '331',
      tab_width: '222',
      tab_height: '200',
      num: '20~30件',
      time: '10~20分',
      money: '500円＋商材費用'
    },
    {
      ttl: 'ヘアケア案件',
      txt: 'ヘアケア商品を購入し、商品のレビューをしてもらうお仕事です。',
      img: '../images/about-work/work-img-6.png.webp',
      pc_width: '335',
      pc_height: '332',
      tab_width: '201.81',
      tab_height: '200',
      num: '5~10件',
      time: '10~20分',
      money: '500円＋商材費用'
    },
    {
      ttl: '保険案件',
      txt: '保険面談をしてもらうお仕事です。',
      img: '../images/about-work/work-img-3.png.webp',
      pc_width: '313.83',
      pc_height: '360',
      tab_width: '174.35',
      tab_height: '200',
      num: '10~20件',
      time: '1~2時間',
      money: '2,000~6,000円'
    },
    /*
    {
        ttl: '脱毛案件',
        txt: '脱毛サロンへ来店し、体験コースを受けてもらうお仕事です。',
        img: '../images/about-work/work-img-1.png.webp',
        pc_width: '223',
        pc_height: '359',
        tab_width: '125',
        tab_height: '199',
        num: '4~5件',
        time: '1~2時間',
        money: '500円＋体験料1,000円'
    },
    {
        ttl: 'クレジットカード案件',
        txt: 'クレジットカードを発行し、<br>発行スピードや使い勝手をレビューしてもらうお仕事です。',
        img: '../images/about-work/work-img-2.png.webp',
        pc_width: '462.51',
        pc_height: '350.45',
        tab_width: '240',
        tab_height: '181.85',
        num: '10~20件',
        time: '10~20分',
        money: '2,000~5,000円'
    },
    {
        ttl: 'スキンケア案件',
        txt: 'スキンケア商品を購入し、商品のレビューをしてもらうお仕事です。',
        img: '../images/about-work/work-img-5.png.webp',
        pc_width: '300',
        pc_height: '316',
        tab_width: '190',
        tab_height: '200',
        num: '20~30件',
        time: '10~20分',
        money: '500円＋商材費用'
    },
    */
  ]
%>

<div class="about-work__dot-box pc">
  <%- include('../components/_section-dot') -%>
</div>

<section class="about-work" id="about-work">

  <div class="about-work__ttl-container">
    <img class="about-work__ttl-container--img-1" src="images/about-work/ttl-img.png.webp" width="94" height="187" alt="女の人のイラスト">
    <h2 class="about-work__ttl-container--ttl pc">
      <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
        <defs>
          <text  dy="0.4em" id="aboutWorkTtl">どんなお仕事・調査があるの</text>
        </defs>
        <use x="50%" y="50%" xlink:href="#aboutWorkTtl"></use>
        <use x="50%" y="50%" xlink:href="#aboutWorkTtl"></use>
      </svg>
    </h2>
    <div class="about-work__ttl-container--ttl-box tab">
      <h2 class="about-work__ttl-container--ttl">
        <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <defs>
            <text  dy="0.4em" id="aboutWorkTtlTab1">どんなお仕事</text>
          </defs>
          <use x="50%" y="50%" xlink:href="#aboutWorkTtlTab1"></use>
          <use x="50%" y="50%" xlink:href="#aboutWorkTtlTab1"></use>
        </svg>
      </h2>
      <h2 class="about-work__ttl-container--ttl">
        <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <defs>
            <text  dy="0.4em" id="aboutWorkTtlTab2">調査があるの</text>
          </defs>
          <use x="50%" y="50%" xlink:href="#aboutWorkTtlTab2"></use>
          <use x="50%" y="50%" xlink:href="#aboutWorkTtlTab2"></use>
        </svg>
      </h2>
    </div>
    <img class="about-work__ttl-container--img-2" src="images/common/q-mark.png.webp" width="156.26" height="159.11" alt="？">
  </div>

  <div class="about-work__works-container">
    <div class="about-work__works">
      <% for (const work of works) { %>
        <div class="about-work__work">
          <div class="work__img-with-dtl">
            <img  class="work__img-with-dtl--img pc" src="<%= work.img %>" width="<%= work.pc_width %>" height="<%= work.pc_height %>" alt="仕事のイメージ画像">
            <img  class="work__img-with-dtl--img tab" src="<%= work.img %>" width="<%= work.tab_width %>" height="<%= work.tab_height %>" alt="仕事のイメージ画像">
            <div class="work__img-with-dtl--dtl-wrapper">
              <div class="dtl-box">
                <div class="dtl-box__pink-box">
                  <p class="dtl-box__pink-box--ttl">案件数</p>
                </div>
                <p class="dtl-box__txt"><%= work.num %></p>
              </div>
              <div class="dtl-box">
                <div class="dtl-box__pink-box">
                  <p class="dtl-box__pink-box--ttl">所要時間</p>
                </div>
                <p class="dtl-box__txt"><%= work.time %></p>
              </div>
              <div class="dtl-box">
                <div class="dtl-box__pink-box">
                  <p class="dtl-box__pink-box--ttl">謝礼金</p>
                </div>
                <p class="dtl-box__txt"><%= work.money %></p>
              </div>
            </div>
          </div>
          <div class="work__ttl-with-txt-box">
            <p class="work__ttl-with-txt-box--ttl"><%= work.ttl %></p>
            <p class="work__ttl-with-txt-box--txt"><%- work.txt %></p>
          </div>
        </div>
      <% } %>
    </div>
  </div>

  <div class="about-work__bottom-txt">
    <div class="about-work__bottom-txt--top-txt-box">
      <p class="bottom-txt__txt">他にも</p>
      <p class="bottom-txt__txt--large">
        <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <defs>
            <text  dy="0.4em" id="txtLarge1">”魅力的”</text>
          </defs>
          <use x="50%" y="50%" xlink:href="#txtLarge1"></use>
          <use x="50%" y="50%" xlink:href="#txtLarge1"></use>
        </svg>
      </p>
      <p class="bottom-txt__txt">な仕事が<span class="pc">盛りだくさん</span></p>
    </div>
    <p class="bottom-txt__txt tab">盛りだくさん</p>
    <div class="about-work__bottom-txt--bottom-txt-box">
      <p class="bottom-txt__txt">あなたに</p>
      <p class="bottom-txt__txt--large">
        <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <defs>
            <text  dy="0.4em" id="txtLarge2">”ぴったり”</text>
          </defs>
          <use x="50%" y="50%" xlink:href="#txtLarge2"></use>
          <use x="50%" y="50%" xlink:href="#txtLarge2"></use>
        </svg>
      </p>
      <p class="bottom-txt__txt">のお仕事が<span class="pc">きっと見つかる</span></p>
    </div>
    <p class="bottom-txt__txt tab">きっと見つかる</p>
  </div>

  <%- include('../components/_section-dot') -%>
</section>