<%
const steps = [
    {
        ttl: '無料会員登録',
        txt: 'まずは、無料で会員登録！<br>その後、電話セミナーにお申込みください。',
        img: '../images/flow/flow-img-1.png.webp',
        width:'159',
        height:'261',
        num: '1',
    },
    {
        ttl: 'マイぺージから案件を探す',
        txt: 'マイページから受けたい案件を探しましょう！<br>ご自身の好きなタイミング<br>好きな仕事を探してみてくださいね！',
        img: '../images/flow/flow-img-2.png.webp',
        width:'159',
        height:'256',
        num: '2',
    },
    {
        ttl: '仕事を受けてアンケートに回答',
        txt: 'ご自身の条件にあった仕事に申し込んでみましょう！<br>仕事を受けたあとはアンケートに答えてお仕事完了♪',
        img: '../images/flow/flow-img-3.png.webp',
        width:'200',
        height:'256',
        num: '3',
    },
    {
        ttl: '報酬を受け取る',
        txt: '仕事が終わったら、振込申請をしましょう。<br>申請が終われば、報酬が振り込まれます！',
        img: '../images/flow/flow-img-4.png.webp',
        width:'216',
        height:'250',
        num: '4',
    },
]

%>

<section class="flow" id="flow">

  <img class="left-shape" src="images/flow/left-shape.svg">
  <img class="right-shape pc" src="images/flow/right-shape.svg">
  <img class="right-shape tab" src="images/flow/sp/right-shape.svg">

  <div class="flow__ttl-box">
    <img class="flow__ttl-box--img" src="images/flow/ttl-img.png.webp" width="239" height="200" alt="電話している女の人のイラスト">
    <div class="flow__ttl-box--txt-box">
      <h2 class="ttl-box__left-txt">お申込みの流れ</h2>
      <p class="ttl-box__middle-txt">
        <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <defs>
            <text dy="0.4em" id="flowMiddleTtl">4</text>
          </defs>
          <use x="50%" y="50%" xlink:href="#flowMiddleTtl"></use>
          <use x="50%" y="50%" xlink:href="#flowMiddleTtl"></use>
        </svg>
      </p>
      <p class="ttl-box__right-txt">
        <svg  xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
          <defs>
            <text dy="0.4em" id="flowRightTtl">step</text>
          </defs>
          <use x="50%" y="50%" xlink:href="#flowRightTtl"></use>
          <use x="50%" y="50%" xlink:href="#flowRightTtl"></use>
        </svg>
      </p>
    </div>
  </div>

  <div class="flow__content-box">
    <% for (const step of steps) { %>
    <div class="flow__content">
      <div class="flow__content--step-num">
        <p class="step-num__txt">step<br><span class="num"><%= step.num %></span></p>
      </div>
      <img src="<%= step.img %>" width="<%= step.width %>" height="<%= step.height %>" alt="お申し込みの流れの画像">
      <p class="flow__content--ttl"><%= step.ttl %></p>
      <p class="flow__content--txt"><%- step.txt %></p>
    </div>
    <% } %>
  </div>

  <%- include('../components/_section-dot') -%>

</section>